<div class="mainview">
  <div class="title">
    <h1>SpaceX Launch Programs</h1>
</div>

<main>
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="container">
      <div class="card mx-auto" style="max-width: 300px">
        <div><strong>Filters</strong></div>
        <div class="card-body">
          <div class="container text-center">
            Launch Year
          </div>
          <hr>
          <div class="container">
            <ng-container *ngFor='let year of yearValues'>
            <button type="button" class="btn btn-success m-3" (click)="searchByYear(year.value)">{{year.value}}</button>
            </ng-container>
          
          <br>
          <div class="container text-center">
            Successful Launch
          </div>
          <hr>
          <ng-container *ngFor='let launchvl of launchValues'>
            <button type="button" class="btn btn-success m-3" (click)="searchByLaunchData(launchvl.value)">{{launchvl.text}}</button>
          </ng-container>
          <br>
          <div class="container text-center">
            Successful Landing
          </div>
          <hr>
          <ng-container *ngFor='let landvl of landingValues'>
            <button type="button" class="btn btn-success m-3" (click)="searchByLandingData(landvl.value)">{{landvl.text}}</button>
          </ng-container>
        </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-9 mt-2 col-lg-9">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <ng-container *ngFor="let flightData of allData">
        <div class="col">
          <div class="container">
          <div class="card mx-auto">
            <div class="imagepath mx-auto mt-2">
              <img src="{{flightData.links.mission_patch_small}}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title" style="color: #2039b5;">{{flightData.mission_name}} #{{flightData.flight_number}}</h5>
              <p class="card-text"><strong>Mission Ids: </strong> {{flightData.mission_id}}</p>
              <p class="card-text"><strong>Launch Year: </strong>{{flightData.launch_year}}</p>
              <p class="card-text"><strong>Successful Launch: </strong>{{flightData.launch_success}}</p>
              <p class="card-text"><strong>Successful Landing: </strong>{{flightData.rocket.first_stage.cores[0].land_success}}</p>
            </div>
          </div>
        </div>
        </div>
      </ng-container>
      </div>
    </div>
  </div>
</main>

<div class="footer"><label class="developedBy">Developed by:</label>&nbsp;
  {{ developerName }}<br>
</div>
</div>

